
div.blue { background-color:#DCE6EB; border-radius: 5px; padding: 20px;}


title {
  font-size: 30px;
  color:rgb(69, 130, 236);
  text-align: center;
  font-family: Fira Sans !important
}


h1 {
  font-size: 28px;
  color:rgb(69, 130, 236);
  text-align: center;
  font-family: Fira Sans !important
}

h1.title {
  font-size: 28px;
  color:rgb(69, 130, 236);
  text-align: center;
  font-family: Fira Sans !important
}

h1.subtitle {
  font-size: 12px;
  color:lightgray;
  text-align: center;
  font-family: Fira Sans !important
}

h2 {
  font-size: 25px;
  color:rgb(69, 130, 236);
  text-align: center;
  font-family: Fira Sans !important
}

h3 {
  font-size: 22px;
  color:rgb(69, 130, 236)
  font-family: Fira Sans !important
}

p {
	font-size: 28px;
	font-family: Fira Sans !important
	}

p.author p.date {
	font-size: 18px;
	color: darkgray;
	font-family: Fira Sans !important
}

p.caption {
  font-size: 10px;
  font-style: normal;
  color: darkgray;
  text-align: center;
  font-family: Fira Sans !important
}

ul{
  list-style-type: square;
  display: block;
  font-size: 25px;
  font-family: Fira Sans !important
}

ul li{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
  margin-right: 0;
}

ol {
  list-style-type: upper-roman;
  display: block;
  font-size: 25px; 
  font-family: Fira Sans !important
}
ol li{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
  margin-right: 0;
}

strong {
color:rgb(69, 130, 236)
}

#infobox {
  padding: 1em;
  background: rgb(226, 237, 280);
  color: rgb(61, 65, 67);
  border: 16px rgb(69, 130, 236);
  border-radius: 10px;
  line-height: 120%;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  font-family: Fira Sans !important
}

code.r{
  font-size: 24px;
}

table {
  font-size: 15px;
  text-align: center;
}

.pagedtable-footer {
  padding-top: 4px;
  padding-bottom: 5px;
  font-size: 13px;
}

/* unvisited link */
a:link {
  color: mediumseagreen;
  font-weight: bold;
}

/* visited link */
a:visited {
  color: mediumseagreen;
}

/* mouse over link */
a:hover {
  color: darkgray;
}

/* selected link */
a:active {
  color: mediumseagreen;
}

.flex-container{
  justify-content:space-evenly; 
  display: flex;
  flex-flow: row wrap;
}

.flex-picture {
  text-align: center; 
  flex-grow:1; 
  flex-basis: 30%;
}

.flex-text{
  text-align: left; 
  flex-grow: 1; 
  flex-basis: 50%;
}

<style>
.footer {
    font-family: Fira Sans !important;
    color:rgb(69, 130, 236);
    background: white;
    position: fixed;
    top: 90%;
    text-align:center;
    width:100%;
}
</style>